                @import '../../Style/mixins';

                .wcu-parent-wrapper {
                 padding-bottom: 100px;
                    margin-top: 100px;
@include respond-to('mobile'){
    padding-bottom: 40px;
}
                    .wcu-container-wrapper {
                        position: relative;
                        background: rgba(15, 192, 237, 0.12);
                        padding: 40px;
                        border-radius: 49px;

                        @include respond-to('mobile'){
                            padding: 20px;
                        }

                        .wcu-row-1 {
                            display: flex;
                            // padding-bottom: 50px;

                            @include respond-to('mobile'){
                                flex-direction: column-reverse
                            }

                            .row-1-left {
                                  
                                @include respond-to('mobile'){
                                    padding-top: 20px
                                }
                                .row-1-title {
                                    @include font(40px, 600, #0FC0ED);
                                    line-height: normal;
                                    margin-bottom: 20px;

                                    @include respond-to('mobile'){
                                        font-size: 36px;
                                        text-align: center
                                    }
                                }

                                .row-1-paragraph {
                                    @include font(20px, 400, rgba(35, 44, 43, 0.75));
                                    line-height: normal;
                                    width:90%;

                                    @include respond-to('mobile'){
                                        font-size: 16px;
                                        width: 100%;
                                        text-align: center;
                                    }
                                }
                            }

                            .row-1-right {
                                background: linear-gradient(180deg, #0FC0ED 0%, #096D87 100%);
                                padding: 0 48px;
                                border-radius: 400px;
                                position: relative;
                                bottom: 110px;
                                height: auto;

                                @include respond-to('mobile'){
                                    position:static ;
                                    margin-top: -110px;
                                }
                .row-1-right-wrapper{
        
                }
                            
                            }
                        }

                        .wcu-row-2 {
                            display: grid;
                            justify-content: center;
                            grid-template-columns: repeat(3, 1fr);
                            grid-gap: 40px;
                            padding: 20px;  
                            
                            @include respond-to('mobile'){
                                grid-template-columns: repeat(2, 1fr);
                                grid-gap:20px; 
                                padding: 20px 0 0 0;
                            }
                            .pill-card-container {
                                display: flex;
                                align-items: center;
                                padding: 10px;
                                border-radius: 48px;
                                background: rgba(15, 192, 237, 0.20);

                                .pill-card-img-container {
                                    background-color: white;
                                    border-radius: 50%;
                                    padding: 10px;
                                    margin-right: 20px;

                                @include respond-to('mobile'){
                                    margin-right: 10px;
                                }
                                }
                                .pill-card-description {
                                    color: #017A99;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: normal;
                                p{
                                    @include respond-to('mobile'){
                                        font-size: 10px;
                                    }
                                }
                                
                                }
                            }
                        }


                    }
                }