
.aib-features-wrapper{
    padding: 80px 0 60px 0;
    .aib-features-card-title{
        padding: 20px;
        text-align: center;
        color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    span{
        color: #0FC0ED;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    }
}

